<header>
    <a href="#" class="logo">
        <img src="img/logo.svg" alt="">
    </a>
    <nav class="top-menu">
        <ul>
            <li><a href="#about">ABOUT US</a></li>
            <li><a href="#services">SERVICES</a></li>
            <li><a href="#work">PORTFOLIO</a></li>
            <li><a href="#technologies">TECHNOLOGIES</a></li>
        </ul>
    </nav>
    <button class="contact-btn do-open">CONTACT</button>
    <span class="burger-btn">
			<img src="img/burger.svg" />
    </span>
    <nav class="mobile-menu">
        <div class="mobile-menu-wrap">
            <a href="#" class="logo">
                <img src="img/logo.svg" alt="">
            </a>
            <ul>
                <li><a href="#about">ABOUT US</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li><a href="#work">PORTFOLIO</a></li>
                <li><a href="#technologies">TECHNOLOGIES</a></li>
            </ul>
            <div class="mobile-menu-contacts">
                <a href="tel:+3800955295277" class=""><img src="img/tel.svg" alt="tel">+38 095 529 52 77</a>
                <a href="mailto:info@webhunt.pro" class=""><img src="img/email.svg" alt="email">info@webhunt.pro</a>
            </div>
        </div>
    </nav>

    <div id="modal">
        <div class="modal-content zoom">
            <h4>Drop us a line.</h4>
            <form id="mailForm">
                <input type="text" id="name" name="name" placeholder="Name" required>
                <input type="tel" placeholder="Phone" required>
                <input type="email" id="email" name="email" placeholder="E-mail" required>
                <input type="text" name="message" id="message" placeholder="Details" required name="name">
                <button class="contact-btn do-open" type="button" id="sendMail">CONTACT US</button>
            </form>
            <span class="do-close"><img src="img/close.svg" alt="close"></span>
        </div>
    </div>
</header>